.prm-btn{/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2392c0+0,2392c0+20,3181b6+71,397ab4+86,3a75af+100 */
    background: rgb(35,146,192); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(35,146,192,1) 0%, rgba(35,146,192,1) 20%, rgba(49,129,182,1) 71%, rgba(57,122,180,1) 86%, rgba(58,117,175,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(35,146,192,1) 0%,rgba(35,146,192,1) 20%,rgba(49,129,182,1) 71%,rgba(57,122,180,1) 86%,rgba(58,117,175,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(35,146,192,1) 0%,rgba(35,146,192,1) 20%,rgba(49,129,182,1) 71%,rgba(57,122,180,1) 86%,rgba(58,117,175,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2392c0', endColorstr='#3a75af',GradientType=0 ); /* IE6-9 */
    color: #fff !important;  font-family: 'Poppins', sans-serif;font-weight:500; line-height: 42px;padding: 0 27px;border:none;text-transform: uppercase;
    color: #fff !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 42px;
    padding: 0 27px;
    border: none;
    text-transform: uppercase;
    border-radius: 20px 20px 20px 20px;
}

.btn-language{
    background-color: #FFFEAE;
    border-color: #FFFEAE;
    color: #3a405b !important;
}

.section-userpost {width:100%; background: #fff;border-radius:15px;} 