
section .section-body #topheader .row .col-md-10 .float-right .dropdown-post{position: absolute;
    transform: translate3d(857px, 46px, 0px);
    top: 19px !important;
    left: -172px !important;
    will-change: transform;
    width: 230px;}
.font-12{font-size:12px !important;}
.btn-round{border-radius:22px}
.media-body h5{font-size: 18px}
.media-body p.author{color: #8a95b6 !important;font-size:14px}
.media-body a{color:#2391bf }
.article-title{border-bottom: 1px solid #E4E7EE; padding-bottom:8px;display:inline-block;width:100%}
.article-title h5{line-height:35px}
.article-body{padding-top:25px; padding-bottom: 25px }
.article-body p{color:#2d354d; font-size:16px; }
.article-body h5{display:inline-block;width: 100%; margin-bottom:15px; }
.btn-tags.selected, .btn-tags:hover {
    border: none;
    box-shadow: 0px 6px 13px #ccc;
}
.btn-tags {
    border-color: #E4E7EE;
    font-size: 12px;
    color: #3a405b !important;
    line-height: 28px;
    padding: 0 10px;
}
.section-body .article .media {
    border-bottom: 1px solid #E4E7EE;
}
