.clearfix{
     width:100%;
    background: #21283e;
    color: #fff;
}

.clearfix_clr{
    color: #fff;   
}

.widget-section .topic-list .media-body {
    border-bottom: 1px solid #353E5A;
    padding-bottom: 15px;
}