// footer{}
// footer .copy-right{font-size:12px;color:#8F94A5; }
// footer .copy-right a{color:#2391BF}
// footer ul{list-style:none }
// footer ul li{}
// footer ul li a{font-size:13px; color: #E1E4EC; line-height:25px }

.mainfooter{
    background: #1A1F33; padding-top: 25px; padding-bottom: 25px;color: #E1E4EC;font-size:14px 
}

.footer_ul{
    list-style:none 
    
}

.footer_li_a{
    font-size:13px; color: #E1E4EC; line-height:25px 
}