.widget-section {
    margin-bottom: 20px;
}
.blue-bg {
    background: #21283e;
    color: #fff;
}
.section_color{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}