.back_accordian{
    background-color:rgb(243, 249, 255) !important;
}

.tick_arrow{
    background-color:#D2E4F6 !important;
    border-radius:50%;
    // padding:10px
    font-size:30px !important;
}