section .section-header .sec-heading {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    position: relative;
}

.filter-btn {
    line-height: 25px;
    font-size: 14px;
    color: #21283e;
    text-transform: uppercase;
    padding-left: 18px;
    padding-right: 18px;
    border-color: #2291BF;
    border-width: 2px;
}
.font-12 {
    font-size: 12px !important;
}
.btn-round {
    border-radius: 22px;
}
.prm-btn {
    background: rgb(35,146,192);
    background: -moz-linear-gradient(top, rgba(35,146,192,1) 0%, rgba(35,146,192,1) 20%, rgba(49,129,182,1) 71%, rgba(57,122,180,1) 86%, rgba(58,117,175,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2392c0', endColorstr='#3a75af',GradientType=0 );
    color: #fff !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 42px;
    padding: 0 27px;
    border: none;
    text-transform: uppercase;
}
section .section-header .sec-heading:after {
    background-color: #D716A5;
    padding: 0 20px;
    content: " ";
    position: absolute;
    bottom: -7px;
    width: 50%;
    height: 3px;
    left: 0;
}
section .section-header small a {
    border-bottom: 1px solid #D716A5;
}
a{
    color: #D716A5;
}