// #aboutOnemic{clear:both;background:url(landing-images/about-bg.png)#21283e;}
// .btn-light{padding-left: 1.5rem;padding-right: 1.5rem;line-height: 40px;padding-top: 0;padding-bottom: 0;}
// .btn-rounded{border-radius: 40px;}


.main_aboutonemic{
    width:100%;
    background-color:black ;
    background-repeat:no-repeat;
    opacity:0.9;
}

.onemic_about_a{
      color:#fff;
}


.onemic_about_b{
    color:#fff;
}


