.rm-btn {
    background: #2392c0;
    background: linear-gradient(to bottom, #2392c0 0%, #2392c0 20%, #3181b6 71%, #397ab4 86%, #3a75af 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2392c0', endColorstr='#3a75af',GradientType=0 );
    color: #fff !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 42px;
    padding: 0 27px;
    border: none;
    text-transform: uppercase;
    color: #fff !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 42px;
    padding: 0 27px;
    border: none;
    text-transform: uppercase;
    border-radius: 20px 20px 20px 20px;
}

