#leave-comments .section-header .sec-heading:after {
    background-color: #D716A5;
    padding: 0 20px;
    content: " ";
    position: absolute;
    bottom: -7px;
    width: 25%;
    height: 3px;
    left: 0;
}

#leave-comments .section-header .sec-heading-color{color: #21283e;}
#leave-comments .media-contant .media-body .media .media-body h6 .gray-color-text{color: #b9bed1;}
#leave-comments .media-contant .media-body .media .media-body.comment-hed-color{color: #21283e; font-weight: 400; font-size: 18px;}
#leave-comments .media-contant .media-body .media .media-body .media-p-color{color: #21283e; font-size: 16px; font-weight: 400;}
