// .rm-btn {
//     background: #2392c0;
//     background: linear-gradient(to bottom, #2392c0 0%, #2392c0 20%, #3181b6 71%, #397ab4 86%, #3a75af 100%);
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2392c0', endColorstr='#3a75af',GradientType=0 );
//     color: #fff !important;
//     font-family: 'Poppins', sans-serif;
//     font-weight: 500;
//     line-height: 42px;
//     padding: 0 27px;
//     border: none;
//     text-transform: uppercase;
//     color: #fff !important;
//     font-family: 'Poppins', sans-serif;
//     font-weight: 500;
//     line-height: 42px;
//     padding: 0 27px;
//     border: none;
//     text-transform: uppercase;
//     border-radius: 20px 20px 20px 20px;
// }


.MuiAppBar-colorPrimary{
    color:black !important;
    background:#ffffff !important;
    // box-shadow:0px 4px 4px 4px #ffffff !important ;
} 

.makeStyles-inputInput-9{
    border:1px solid #cccc !important;
}
.dropdown-btn{
    background-color: transparent !important;
    color: black;
    border: none;
}
.dropdown-btn:hover{
    border: none;
    color: black;
}
.dropdown-btn:focus{
    border: none;
    color: black;
}
.dropdown-menu{
    right: 0;
    left: inherit;
    top: 130%;
    border-radius: 15px;
    min-width: 23rem;
    padding: 1rem;
}
.dropdown-heading{
    font-size: 20px;
    color: #21283e;
    margin-top: 1rem;
}
.dropdown-item{
    font-size: 16px;
    color: #21283e;
    margin-top: 1rem;
    padding: 0px;
    cursor: pointer;
    font-weight: 700;
    border-top: 1px solid #e5e7ef;
}
p{
    font-size: 16px;
    color: #2d354d;
    font-weight: 300;
    margin-bottom: 0.5rem;
}
